#sec-contact h4,
#sec-contact h5{
    color: var(--main-color);
}

#sec-contact button{
    background-color: var(--main-color);
    color: #fff;
    margin-right: 30px;
}

#contact-side-nav{
    padding-left:1rem;
}