#profile-side-nav{
    border: 1px solid #eee;
}

#profile-side-nav h4,
#profile-side-nav a:hover{
    color: var(--main-color);
}

#profile-side-nav a{
    color: #000;
    transition: all 0.6s ease;
}
