#rewards-icons i{
    color: var(--main-color);
    transition: all 1s ease;
}

#rewards-icons i:hover{
    transform: rotateY(360deg);
}

#stars-wrapper{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
.stars{
    width: 100%;
    height: auto;
    position: absolute;
    top: -40px;
  }

.stars i{
    color: #ffc107;
    animation: falling_star 3s linear infinite;
}  

@keyframes falling_star{
    0%{transform: translateY(0); opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{transform: translateY(400px); opacity: 0;}
}
  
.stars i:nth-child(1){animation-delay: 0.9s; font-size:20px;}
.stars i:nth-child(2){animation-delay: 1.8s; font-size:16px;}
.stars i:nth-child(3){animation-delay: 2s; font-size:18px;}
.stars i:nth-child(4){animation-delay: 0.5s; font-size:16px;}
.stars i:nth-child(5){animation-delay: 2.2s; font-size:14px;}
.stars i:nth-child(6){animation-delay: 1.4s; font-size:20px;}
.stars i:nth-child(7){animation-delay: 1s; font-size:18px;}
.stars i:nth-child(8){animation-delay: 1.5s; font-size:20px;}
.stars i:nth-child(9){animation-delay: 2.0s; font-size:16px;}
.stars i:nth-child(10){animation-delay: 0.8s; font-size:18px;}
.stars i:nth-child(11){animation-delay: 2.6s; font-size:20px;}
.stars i:nth-child(12){animation-delay: 1.6s; font-size:16px;}
  